cluster_id = "simpleocp4-1m2ct"
clustername = "simpleocp4"
base_domain = "example.com"
openshift_pull_secret = "./openshift_pull_secret.json"
openshift_installer_url = "https://mirror.openshift.com/pub/openshift-v4/clients/ocp/latest"

aws_access_key_id = "AAAA"
aws_secret_access_key = "AbcDefGhiJkl"
aws_ami = "ami-07af688c8b65de56f"
aws_extra_tags = {
  "kubernetes.io/cluster/simpleocp4-1m2ct" = "owned",
  "owner" = "admin"
  }
aws_azs = [
  "ap-southeast-1a",
  "ap-southeast-1b",
  "ap-southeast-1c"
  ]
aws_region = "ap-southeast-1"
aws_publish_strategy = "External"
